<div class="container py-5">

  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">

      <%= image_tag "logo.png", alt: "サービスロゴ", height: 120 %>

      <p class="lead mt-3 mb-4">
        ネタバレを語ろう！
      </p>

      <div class="d-flex justify-content-center gap-3 mb-4">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
      </div>

      <!-- とりあえず除外 -->
      <%#= image_tag "top_image.png", class: "img-fluid rounded shadow", alt: "トップ画像" %>

    </div>
  </div>

</div>
