  <div class="container mt-4">
    <h3 class="mb-3">いいねした投稿一覧</h3>
    
    <% if @posts.any? %>
      <%= render 'public/posts/index', posts: @posts, post: @post, group: @group%>
    <% else %>
      <div class="alert alert-info">
        まだ投稿はありません。
      </div>
    <% end %>
  </div>